/*colores css*/
:root{
    --color-fondo: #141414; /* Color de fondo principal */
    --color-texto: #ffffff; /* Color del texto principal */
    --color-encabezado: #5f8fa0;    /* Color del encabezado */
    --color-container: #5f8fa0f0; /* Color del contenedor principal */
    --color-titulo: #D1BF77; /* Color de los títulos */
    --color-enlace: #D1BF77; /* Color de los enlaces */
    --color-enlace-hover: #141414; /* Color de los enlaces al pasar el mouse */
    --color-boton: #D1BF77; /* Color para los botones */
    --btn-delete:#dc3545; /* Color para el botón y delete de eliminar */
    --color-boton-hover: #141414; /* Color de los botones al pasar el mouse */
    --color-tabla-fondo: #f9f9f9;   /* Color de fondo de las tablas */
    --color-tabla-fila-hover: #f1f1f1;  /* Color de fondo de las filas de la tabla al pasar el mouse */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* BODY Y ESTRUCTURA BÁSICA */
body{
    width: 100%;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    background-color: var(--color-fondo);
    color: var(--color-texto);
    line-height: 1.6;
}

/* ENCABEZADO */
header {
    background-color: var(--color-encabezado);
    padding: 1em;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
}

header a {
    color: #9a1e1e;
    text-decoration: none;
    font-size: 1.2em;
    margin: 0 15px;
}

.chance_color{
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 50%;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* CHECKbox */

.capchan{
    height: 20px;
    width: 20px;
}


/*espacio*/
.espacio{
    height: 80px;
}

/* CONTAINER PRINCIPAL */
.container{
    width: 90%;
    margin: 0 auto;
   background-color: var(--color-container);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow: auto; /*scrollbar si el contenido es muy largo*/
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100vh;
}


/* TITULOS */
h1, h2, h3 {
    color: #D1BF77;
    font-weight: bold;
    margin-bottom: 20px;
}

h2, h3 {
    margin-top: 40px;
    border-top: 2px solid #141414;
    padding-top: 20px;
}

h2 {
    border-bottom: 2px solid #141414;
    padding-bottom: 10px;
}

/* ENLACES */
a {
    text-decoration: none;
    color: var(--color-enlace);
}

a:hover {
    color: #141414;
}

/* TABLAS */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 40px;
    border-style: groove;
    padding: 1%;
    table-layout: auto;
}

table, th, td {
    border: 1px solid #ddd;
}

th {
    background-color: #007BFF;
    color: #fff;
    padding: 12px 15px;
    text-align: left;
}

td {
    padding: 12px 15px;
    text-align: left;
}

table th, table td {
    font-size: 14px;
    text-align: center;
}

table td input[type="number"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 100px;
    text-align: center;
}

table tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

table tbody tr:hover {
    background-color: #f1f1f1;
}


table form {
    display: inline;
}

/* FORMULARIOS */
.form-group {
    margin-bottom: 20px;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
    align-items: center;
}

.form-group label {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 8px;
    font-weight: bold;
    align-items: center;
    justify-content: space-between;
}



.form-group label input{
    max-width: 100px;
}



form button {
    margin-top: 20px;
}

/* SELECTORES INDIVIDUALES */
.select0 {
    width: 100px;
}

.select {
    width: 200px;
}

.select1 {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* input*/

.input{
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* BOTONES */
.btn, button.btn {
    display: inline-block;
    background-color: #D1BF77;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn:hover,
button.btn:hover {
    background-color: #141414;
}

.btn-delete {
    color: #fff;
    background-color: var(--btn-delete);
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
}

.btn-delete:hover {
    background-color: #c82333;
}

/* OTROS */
.titulo_hog {
    width: 100%;
    text-align: center;
}


/*inicio_sesion*/

.error-message {
    color: var(--btn-delete);
    font-size: 0.8em;
    margin-top: 0.2em;
}

.input-error {
    border: 1px solid var(--btn-delete) !important;
}

.sesion_ops{
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 20px;
}




.cuerpo_form form{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.btn_redes button{
    background-color: #3b5998;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
    
}

/*registrarse*/

.telefono_reg{
    display: flex;
    gap: 10px;
    width: 100%;
}

.terminos_reg{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}

/*footer*/
footer{
    background-color: var(--color-encabezado);
    color: #333;
    text-align: center;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2em;
    position: relative;
}

